[submodule "submodules/mongo-python-driver"]
	path = submodules/mongo-python-driver
	url = http://github.com/mongodb/mongo-python-driver.git
[submodule "submodules/git"]
	path = submodules/git
	url = git://git.kernel.org/pub/scm/git/git.git
