@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Cantarell);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
    background: #888;
    text-align: left;
    font: normal 12pt/14pt Cantarell, Tahoma, Helvetica, sans-serif;
    color: #000;
    margin: 0px;
}

input[type="submit"] {
    font: normal 12pt/14pt Cantarell, Tahoma, Helvetica, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-shadow: rgba(30,30,70,.5) 1px 1px 1px;
}

b {
    color: #000;
}

br {
    clear: both;
}

p {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

h2 {
    margin-bottom: 0.5em;
}

#stats ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

form {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

tt, input[type="text"] {
    font: normal 12pt/16pt "Droid Sans Mono", "Courier New", Courier, monospace;
}

ul {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

ul#flash-messages, ul#error-messages {
    font-style: italic;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul#flash-messages {
    color: green;
}

ul#error-messages {
    color: red;
}

.header, .footer {
    text-align: center;
}

.header {
    font-size: 20pt;
    color: #fff;
    width: 100%;
    background: #455c96 url(corner-u.png) repeat-x;
    padding: 1em 0em;
    text-shadow: rgba(0,0,0,.3) 1pt 2pt 2pt;
}

.header a {
    font-size: 20pt;
    text-shadow: rgba(0,0,0,.3) 1pt 2pt 2pt;
}

.footer {
    padding: 0.5em 0em;
}

.flash {
    width: 90%;
    margin: auto;
    padding: 1em;
    background: #ebc76c url(corner-u.png) repeat-x;
}

.body {
    width: 90%;
    margin: auto;
    background-color: #fff; 
    padding: 1em;
}

.body td {
    width: 33%;
    vertical-align: top;
}

.info {
    background: #1f2943 url(corner-u.png) repeat-x;
    color: #ffffff;
    border: none !important;
    padding: 0px !important;
}

.info h2 {
    background: url(corner-ul.png) no-repeat top left;
    margin: 0px;
    padding: 0.5em 1em;
    font-size: 12pt;
}

.box {
    background: #fff;
    margin: 0.5em;
}

.box div {
    text-align: left;
    padding: 0.5em 5%;
    border: 1px solid #1f2943;
    border-top: none;
}

#current b {
    font-size: 16pt;
    font-weight: bold;
    color: #000;
}

#current #repo { background: url(git-repo.png) no-repeat 95% 50%; }
#current #blob { background: url(git-blob.png) no-repeat 95% 50%; }
#current #tree { background: url(git-tree.png) no-repeat 95% 50%; }
#current #commit { background: url(git-commit.png) no-repeat 95% 50%; }
#current #tag { background: url(git-tag.png) no-repeat 95% 50%; }
