@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Cantarell);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
    background: #888;
    text-align: left;
    font: normal 12pt/14pt Cantarell, Tahoma, Helvetica, sans-serif;
    color: #000;
    margin: 0px;
}

input[type="submit"], select, option {
    font: normal 12pt/14pt Cantarell, Tahoma, Helvetica, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-shadow: rgba(30,30,70,.5) 1px 1px 1px;
}

b {
    color: #000;
}

br {
    clear: both;
}

p {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

h2 {
    margin-bottom: 0.5em;
}

#stats ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

form {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

tt, input[type="text"], textarea {
    font: normal 12pt/14pt Inconsolata, "Courier New", Courier, monospace;
}

textarea {
    overflow-y: scroll;
    overflow-x: hidden;
}

ul.results li {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}    

ul#flash-messages, ul#error-messages {
    font-style: italic;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul#flash-messages {
    color: green;
}

ul#error-messages, i {
    color: red;
}

.header, .footer {
    text-align: center;
}

.header {
    font-size: 20pt;
    line-height: 24pt;
    color: #fff;
    width: 100%;
    background: #455c96 url(corner-u.png) repeat-x;
    padding: 1em 0em;
    text-shadow: rgba(0,0,0,.3) 1pt 2pt 2pt;
}

.header a {
    text-shadow: rgba(0,0,0,.3) 1pt 2pt 2pt;
}

.footer {
    padding: 0.5em 0em;
}

.flash {
    width: 90%;
    margin: auto;
    padding: 1em;
    background: #ebc76c url(corner-u.png) repeat-x;
}

.body {
    width: 90%;
    margin: auto;
    background-color: #fff; 
    padding: 1em;
}

.body td {
    width: 33%;
    vertical-align: top;
}

.info {
    background: #1f2943 url(corner-u.png) repeat-x;
    border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    color: #ffffff;
    border: none !important;
    padding: 0px !important;
}

.info h2 {
    margin: 0px;
    padding: 0.5em 1em;
    font-size: 12pt;
}

.box {
    background: #fff;
    margin: 0.5em;
}

.box div {
    text-align: left;
    padding: 0.5em 5%;
    border: 1px solid #1f2943;
    border-top: none;
}

#current b {
    font-size: 20pt;
    line-height: 34px;
    font-weight: bold;
    color: #000;
}

#current div {
    position: relative;
}

#current div img {
    position: absolute;
    right: 5%;
    top: 0.5em;
}

#expand {
    float: right;
}

#submit {
    vertical-align: top;
}
